In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame({'key1':['a','a','b','b','a'],
                 'key2':['one','two','one','two','one'],
                 'data1':np.random.randn(5),
                 'data2':np.random.randn(5)})

In [7]:
df

  key1 key2     data1     data2
0    a  one  0.613233  2.474143
1    a  two -0.634651  2.778607
2    b  one -1.423867  0.979785
3    b  two -0.371356  0.865229
4    a  one  1.000705  0.496823

In [11]:
grouped = df['data1'].groupby(df['key1'])

In [12]:
grouped

In [13]:
grouped.mean()

key1
a    0.326429
b   -0.897611
Name: data1, dtype: float64

In [14]:
means = df['data1'].groupby([df['key1'],df['key2']]).mean()

In [15]:
means

key1  key2
a     one     0.806969
      two    -0.634651
b     one    -1.423867
      two    -0.371356
Name: data1, dtype: float64

In [16]:
means.unstack()

key2       one       two
key1
a     0.806969 -0.634651
b    -1.423867 -0.371356

In [18]:
states = np.array(['Ohio','California','California','Ohio','Ohio'])

In [19]:
years = np.array(['2005','2005','2006','2005','2006'])

In [22]:
df['data1'].groupby([states,years]).mean()

California  2005   -0.634651
            2006   -1.423867
Ohio        2005    0.120939
            2006    1.000705
Name: data1, dtype: float64

In [23]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.326429  1.916524
b    -0.897611  0.922507

In [25]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one   0.806969  1.485483
     two  -0.634651  2.778607
b    one  -1.423867  0.979785
     two  -0.371356  0.865229

In [26]:
df.groupby(['key1','key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [27]:
df=pd.DataFrame({'key1':['a','a','b','b','a'],
                 'key2':['one','two','one','two','one'],
                 'data1':np.random.randn(5),
                 'data2':np.random.randn(5)})

In [28]:
df

  key1 key2     data1     data2
0    a  one  0.525875  0.076065
1    a  two  1.561229 -0.726961
2    b  one  1.287493  0.145783
3    b  two  0.433366  0.132361
4    a  one -0.743599 -1.151865