In [5]:
tup = 3,2,7
tup

(3, 2, 7)

In [3]:
nested_tup = (9,6,5),(3,8)
nested_tup

((9, 6, 5), (3, 8))

In [6]:
tuple([3,2,7])
tup

(3, 2, 7)

In [7]:
tup=tuple('handsome')
tup

('h', 'a', 'n', 'd', 's', 'o', 'm', 'e')

In [8]:
tup[2]

'n'

In [15]:
tup= tuple(["foo",[1,2],True])
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [16]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [17]:
(4,None,'foo') + (3,0) + ('money',)

(4, None, 'foo', 3, 0, 'money')

In [18]:
('good','well')*4

('good', 'well', 'good', 'well', 'good', 'well', 'good', 'well')

In [19]:
tup=(4,5,6)

In [20]:
a,b,c = tup

In [21]:
b

5

In [22]:
tup=4,5,(6,7)

In [24]:
a,b,(c,d) = tup

In [25]:
c

6

In [26]:
a,b = 1,2

In [27]:
b

2

In [28]:
a

1

In [29]:
b, a = a,b

In [30]:
a

2

In [31]:
b

1

In [34]:
seq = [(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0},b={1}c={2}'.format(a,b,c))

a=1,b=2c=3
a=4,b=5c=6
a=7,b=8c=9

In [35]:
a =(1,2,2,2,3,4,3,2)

a.count(2)

4

In [63]:
a_list = [2,3,7,None]
tup = ('run','soo','jaz')
b_list=list(tup)
b_list

['run', 'soo', 'jaz']

In [64]:
b_list[1] = 'handosme'
b_list

['run', 'handosme', 'jaz']

In [40]:
gen = range(10)
gen

range(0, 10)

In [41]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
b_list.append('elf')
b_list

['run', 'handosme', 'jaz', 'elf']

In [66]:
b_list.insert(2,"nice")
b_list

['run', 'handosme', 'nice', 'jaz', 'elf']

In [67]:
b_list.pop(2)
b_list

['run', 'handosme', 'jaz', 'elf']

In [68]:
b_list.append('run')
b_list

['run', 'handosme', 'jaz', 'elf', 'run']

In [71]:
b_list.remove('run')
b_list

['handosme', 'jaz', 'elf']

In [70]:
'elf' in b_list

True

In [72]:
'run' in b_list

False

In [73]:
[4,None,'foo'] + [7,8,(3,4)]

[4, None, 'foo', 7, 8, (3, 4)]

In [74]:
x = [4,None,'foo']
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [75]:
a=[7,8,2,4,1,5,3,7]
a.sort()
a

[1, 2, 3, 4, 5, 7, 7, 8]

In [79]:
b=['eats','beef','He']
b.sort(key=len)
b

['He', 'eats', 'beef']

In [80]:
seq=[7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [103]:
seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 3, 5, 6, 0, 1]

In [82]:
seq[:5]

[7, 2, 3, 6, 3]

In [83]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [84]:
seq[-4:]

[5, 6, 0, 1]

In [85]:
seq[-6:-2]

[6, 3, 5, 6]

In [86]:
seq[::2]

[7, 3, 3, 6, 1]

In [90]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [91]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [92]:
sorted('handsome guy')

[' ', 'a', 'd', 'e', 'g', 'h', 'm', 'n', 'o', 's', 'u', 'y']

In [94]:
seq1 = ['run','soo','jaz']
seq2 = ['one','two','three']

zipped = zip(seq1,seq2)
list(zipped)

[('run', 'one'), ('soo', 'two'), ('jaz', 'three')]

In [95]:
seq3 = [False,True]
list(zip(seq1,seq2,seq3))

[('run', 'one', False), ('soo', 'two', True)]

In [97]:
pitchers = [('Noian','Ryan'),('Roger','Clemens'),('Schilling','Curt')]

In [100]:
first_names , last_names = zip(*pitchers)
first_names

('Noian', 'Roger', 'Schilling')

In [101]:
last_names

('Ryan', 'Clemens', 'Curt')

In [102]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [116]:
empty_dict={}

d1 = {'a':'some value','b':[1,2,3,4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [117]:
d1[7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [118]:
d1['b']

[1, 2, 3, 4]

In [119]:
'b in d1'

'b in d1'

In [120]:
d1[5]='some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [121]:
d1['dummy']='another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [122]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [123]:
ret = d1.pop('dummy')
ret

'another value'

In [124]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [125]:
list(d1.keys())

['a', 'b', 7]

In [127]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [129]:
d1.update({'b':'foo','c':12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [130]:
mapping = dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [134]:
words=['apple','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

        
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [135]:
hash('string')

8657562299899741784

In [140]:
hash((1,2,(2,3)))

-9209053662355515447

In [142]:
hash((1,2,[2,3]))

TypeError: unhashable type: 'list'

In [143]:
d={}

d[tuple([1,2,3,])] = 5
d

{(1, 2, 3): 5}

In [144]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [145]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [146]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [149]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [150]:
a.intersection(b)

{3, 4, 5}

In [151]:
a&b

{3, 4, 5}

In [153]:
c=a.copy()
c |=b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [154]:
d=a.copy()
d &=b
d

{3, 4, 5}

In [155]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [157]:
a_set = {1,2,3,4,5}
{1,2,3}.issubset({1,2,3})

True

In [158]:
a_set.issuperset({1,2,3,})

True

In [159]:
{1,2,3} == {3,2,1}

True

In [160]:
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [161]:
unique_lengths = {len(x)for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [162]:
all_data = [['John','Emily','Michael','Mary','Steven'],['Maria','Juan','Javier','Matalia','Pilar']]

In [164]:
result = [name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

In [165]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [166]:
[[x for x in tup]for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [169]:
def my_function(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/ (x+y)

In [170]:
my_function(5,6,z=0.7)

0.06363636363636363

In [178]:
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [206]:
a=[]
def func():
    for i in range(5):
        a.append(i)

In [181]:
a=None

def bind_a_variable():
    global a
    a=[]
bind_a_variable()

print(a)

[]

In [182]:
states = ['Alabama','Georgial!','Georgia','georgia','Florida','southcarolina##','West virginia?']

In [184]:
import re

def clean_strings(strings):
    result=[]
    for value in strings:
        value=value.strip()
        value=re.sub('[!#?]','',value)
        value=value.title()
        result.append(value)
    return  result

In [185]:
clean_strings(states)

['Alabama',
 'Georgial',
 'Georgia',
 'Georgia',
 'Florida',
 'Southcarolina',
 'West Virginia']

In [187]:
def shor_function(x):
    return x*2

equiv_annon = lambda x: x*2

In [188]:
def apply_to_list(some_list,f):
    return[f(x) for x in some_list]

ints = [4,0,1,5,6]
apply_to_list(ints,lambda x: x*2)

[8, 0, 2, 10, 12]

In [189]:
strings = ['foo','card','bar','aaaa','abab']
strings.sort(key=lambda x:len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [190]:
float('1.2345')

1.2345

In [191]:
float('something')

ValueError: could not convert string to float: 'something'

In [192]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [193]:
attempt_float('1.2345')

1.2345

In [194]:
attempt_float('something')

'something'

In [195]:
float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [198]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [199]:
attempt_float((1,2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [235]:
path = 'C:/Users/PPP/Documents/카카오톡 받은 파일/segismundo.txt'
f=open(path)

In [236]:
lines = [x.rstrip() for x in open(path)]
lines

['Sue챰a el rico en su riqueza,',
 'que m찼s cuidados le ofrece;',
 '',
 'sue챰a el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sue챰a el que a medrar empieza,',
 'sue챰a el que afana y pretende,',
 'sue챰a el que agravia y ofende,',
 '',
 'y en el mundo, en conclusi처n,',
 'todos sue챰an lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [ ]:
f.close()

In [ ]:
with open(path) as f:
    lines= [x.rstrip()for x in f]

In [237]:
f=open(path)
f.read(10)

'Sue챰a el r'

In [238]:
f.tell()

11

In [239]:
f.seek(3)

3

In [240]:
f.read(1)

'챰'

In [243]:
f.close()

In [ ]:
f2.close()