In [21]:
import numpy as np
import pandas as pd

In [22]:
import json
path = 'example1.txt'
records = [json.loads(line) for line in open(path)]

In [23]:
records[0]

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1331923247,
 'hc': 1331822918,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}

In [24]:
time_zones = [rec['tz'] for rec in records]

KeyError: 'tz'

In [25]:
time_zones = [rec['tz'] for rec in records if 'tz' in rec]
time_zones[:10]

['America/New_York',
 'America/Denver',
 'America/New_York',
 'America/Sao_Paulo',
 'America/New_York',
 'America/New_York',
 'Europe/Warsaw',
 '',
 '',
 '']

In [26]:
def get_counts(sequence):
    counts = {}
    for x in sequence:
        if x in counts:
            counts[x] += 1
        else :
            counts[x] = 1
    return counts

In [27]:
counts = get_counts(time_zones)
counts['America/New_York']

1251

In [28]:
len(time_zones)

3440

In [29]:
frame = pd.DataFrame(records)
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB

In [30]:
tz_counts = frame['tz'].value_counts()
tz_counts[:10]

America/New_York       1251
                        521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
America/Sao_Paulo        33
Name: tz, dtype: int64

In [31]:
clean_tz = frame['tz'].fillna('Missing')
clean_tz[clean_tz ==''] = 'Unknown'

In [32]:
tz_counts = clean_tz.value_counts()
tz_counts[:10]

America/New_York       1251
Unknown                 521
America/Chicago         400
America/Los_Angeles     382
America/Denver          191
Missing                 120
Europe/London            74
Asia/Tokyo               37
Pacific/Honolulu         36
Europe/Madrid            35
Name: tz, dtype: int64

In [40]:
db=json.load(open('database.json'))

In [41]:
len(db)

6636

In [42]:
db[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [43]:
db[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [44]:
nutrients=pd.DataFrame(db[0]['nutrients'])

In [46]:
nutrients[:7]

     value units                  description        group
0    25.18     g                      Protein  Composition
1    29.20     g            Total lipid (fat)  Composition
2     3.06     g  Carbohydrate, by difference  Composition
3     3.28     g                          Ash        Other
4   376.00  kcal                       Energy       Energy
5    39.28     g                        Water  Composition
6  1573.00    kJ                       Energy       Energy

In [48]:
info_keys=['description','group','manufacturer']
info=pd.DataFrame(db,columns=info_keys)
info[:5]

                          description                   group manufacturer
0                     Cheese, caraway  Dairy and Egg Products
1                     Cheese, cheddar  Dairy and Egg Products
2                        Cheese, edam  Dairy and Egg Products
3                        Cheese, feta  Dairy and Egg Products
4  Cheese, mozzarella, part skim milk  Dairy and Egg Products

In [49]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   description   6636 non-null   object
 1   group         6636 non-null   object
 2   manufacturer  5195 non-null   object
dtypes: object(3)
memory usage: 155.7+ KB

In [50]:
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Fast Foods                           365
Legumes and Legume Products          365
Lamb, Veal, and Game Products        345
Sweets                               341
Fruits and Fruit Juices              328
Pork Products                        328
Name: group, dtype: int64

In [52]:
nutrients

       value units                         description        group
0     25.180     g                             Protein  Composition
1     29.200     g                   Total lipid (fat)  Composition
2      3.060     g         Carbohydrate, by difference  Composition
3      3.280     g                                 Ash        Other
4    376.000  kcal                              Energy       Energy
..       ...   ...                                 ...          ...
157    1.472     g                              Serine  Amino Acids
158   93.000    mg                         Cholesterol        Other
159   18.584     g        Fatty acids, total saturated        Other
160    8.275     g  Fatty acids, total monounsaturated        Other
161    0.830     g  Fatty acids, total polyunsaturated        Other

[162 rows x 4 columns]

In [53]:
nutrients.duplicated().sum()

108

In [54]:
nutrients=nutrients.drop_duplicates()

In [56]:
col_mapping={'description':'food',
              'group'     :'fgroup'}

In [57]:
info=info.rename(columns=col_mapping,copy=False)

In [58]:
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6636 entries, 0 to 6635
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   food          6636 non-null   object
 1   fgroup        6636 non-null   object
 2   manufacturer  5195 non-null   object
dtypes: object(3)
memory usage: 155.7+ KB

In [62]:
col_mapping={'description' : 'nutriend',
             'group'       :  'nutgroup'}

In [63]:
 nutrients=nutrients.rename(columns=col_mapping,copy=False)

In [64]:
nutrients

       value    units                            nutriend     nutgroup
0     25.180        g                             Protein  Composition
1     29.200        g                   Total lipid (fat)  Composition
2      3.060        g         Carbohydrate, by difference  Composition
3      3.280        g                                 Ash        Other
4    376.000     kcal                              Energy       Energy
5     39.280        g                               Water  Composition
6   1573.000       kJ                              Energy       Energy
7      0.000        g                Fiber, total dietary  Composition
8    673.000       mg                         Calcium, Ca     Elements
9      0.640       mg                            Iron, Fe     Elements
10    22.000       mg                       Magnesium, Mg     Elements
11   490.000       mg                       Phosphorus, P     Elements
12    93.000       mg                        Potassium, K     Elements
13   690.000       mg                          Sodium, Na     Elements
14     2.940       mg                            Zinc, Zn     Elements
15     0.024       mg                          Copper, Cu     Elements
16     0.021       mg                       Manganese, Mn     Elements
17    14.500      mcg                        Selenium, Se     Elements
18  1054.000       IU                       Vitamin A, IU     Vitamins
19   262.000      mcg                             Retinol     Vitamins
20   271.000  mcg_RAE                      Vitamin A, RAE     Vitamins
21     0.000       mg      Vitamin C, total ascorbic acid     Vitamins
22     0.031       mg                             Thiamin     Vitamins
23     0.450       mg                          Riboflavin     Vitamins
24     0.180       mg                              Niacin     Vitamins
25     0.190       mg                    Pantothenic acid     Vitamins
26     0.074       mg                         Vitamin B-6     Vitamins
27    18.000      mcg                       Folate, total     Vitamins
28     0.270      mcg                        Vitamin B-12     Vitamins
29     0.000      mcg                          Folic acid     Vitamins
30    18.000      mcg                        Folate, food     Vitamins
31    18.000  mcg_DFE                         Folate, DFE     Vitamins
32    93.000       mg                         Cholesterol        Other
33    18.584        g        Fatty acids, total saturated        Other
34     8.275        g  Fatty acids, total monounsaturated        Other
35     0.830        g  Fatty acids, total polyunsaturated        Other
36     0.324        g                          Tryptophan  Amino Acids
37     0.896        g                           Threonine  Amino Acids
38     1.563        g                          Isoleucine  Amino Acids
39     2.412        g                             Leucine  Amino Acids
40     2.095        g                              Lysine  Amino Acids
41     0.659        g                          Methionine  Amino Acids
42     0.126        g                             Cystine  Amino Acids
43     1.326        g                       Phenylalanine  Amino Acids
44     1.216        g                            Tyrosine  Amino Acids
45     1.682        g                              Valine  Amino Acids
46     0.952        g                            Arginine  Amino Acids
47     0.884        g                           Histidine  Amino Acids
48     0.711        g                             Alanine  Amino Acids
49     1.618        g                       Aspartic acid  Amino Acids
50     6.160        g                       Glutamic acid  Amino Acids
51     0.439        g                             Glycine  Amino Acids
52     2.838        g                             Proline  Amino Acids
53     1.472        g                              Serine  Amino Acids