In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
a = pd.read_csv('movies.csv')

In [6]:
a

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387
...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,(주)NEW,드라마,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091
596,파파로티,(주)쇼박스,드라마,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438
597,살인의 강,(주)마운틴픽쳐스,공포,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475
598,악의 연대기,CJ 엔터테인먼트,느와르,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525
599,베를린,CJ 엔터테인먼트,액션,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532

In [33]:
grouped = a['distributor'].groupby(a['genre'])

In [34]:
grouped

In [22]:
a.groupby(['distributor','genre'])[['box_off_num']].mean()

                         box_off_num
distributor    genre
(주) 브릿지웍스      멜로/로맨스    2146.000000
               코미디       4324.500000
(주) 액티버스엔터테인먼트 드라마        329.000000
               멜로/로맨스     891.000000
(주) 영화사조제      SF       12696.000000
...                              ...
한국YWCA연합회      다큐멘터리       71.000000
홀리가든           다큐멘터리     1958.000000
               드라마       1642.666667
화앤담이엔티         드라마      60944.000000
               멜로/로맨스  283449.000000

[308 rows x 1 columns]

In [36]:
a.groupby(['genre'])[['box_off_num']].mean()

         box_off_num
genre
SF      1.788346e+06
공포      5.908325e+05
느와르     2.263695e+06
다큐멘터리   6.717226e+04
드라마     6.256898e+05
멜로/로맨스  4.259680e+05
뮤지컬     6.627000e+03
미스터리    5.275482e+05
서스펜스    8.261100e+04
애니메이션   1.819267e+05
액션      2.203974e+06
코미디     1.193914e+06

In [41]:
plot = a.plot.pie(y='genre',figsize=(5,5))

TypeError: '<' not supported between instances of 'str' and 'int'